@charset "utf-8";
/* CSS Document */
body {
	font-family:arial;	
	}
	
.print1 {
		border-left : 1px solid black;
		border-top : 1px solid black;
		border-bottom : 1px solid black;
	}
	.abu{
		background-color: darkgrey;
	}
	.printkiri {
		border-left : 1px solid black;
	}
	.printkanan {
		border-right : 1px solid black;
	}
	.printatas{
		border-top : 1px solid black;
	}
	.printbawah{
		border-bottom : 1px solid black;
	}
	.dataprint{
		page-break-after:always;
	}
	.print2 {
		border-top : 1px solid black;
	    border-bottom : 1px solid black;
	}
	.print3 {
		border-right : 1px solid black;
		
		border-top : 1px solid black;
		border-bottom : 1px solid black;
	}

	.judul {
	font-size:16px;
	}
.isi,td{
	font-size:14px;
	padding-left:0px;
	
	}
.container {
	margin-bottom: 5px
	}
.item-list{
	width:100px;
	float:left;
	}	
table ul li {
	padding:1px;
	list-style:none;
	}
